@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root[lang="ar"],
:root[lang="ar"] * {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
}

:root[lang="en"],
:root[lang="en"] * {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}